<li class="<%= active ||= "" %>">
  <%= link_to conversations_path(receiver_id: conversation.receiver.id, sender_id: conversation.sender.id), method: :post, class: "each-conversation" do %>
    <div class="row valign-wrapper">
      <div class="col s2">
        <img src="http://www.familyinblack.pl/galerie/s/straszny-duszek_2535.jpg" alt="" class="circle user-image">
      </div>
      <div class="col s10">
        <div class="black-text receiver-name">
          <p>
            <strong><%= show_name conversation %></strong>
          </p>
          <% unless conversation.messages.blank? %>
            <% message = conversation.messages.last %>
            <i class="update-time right"><%= display_time message.created_at %></i>
            <p class="<%= "unread-msg" unless message.read %>">
            <%= message.content[0..15] %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</li> 